# Configuration file

enabled {
    B:"astralsorcery:blockblackmarble"=true
    B:"astralsorcery:blockmarble"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"botania:biomestonea"=true
    B:"botania:biomestoneb"=true
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=true
    B:"botania:quartztypedark"=true
    B:"botania:quartztypeelf"=true
    B:"botania:quartztypelavender"=true
    B:"botania:quartztypemana"=true
    B:"botania:quartztypered"=true
    B:"botania:quartztypesunny"=true
    B:"naturesaura:ancient_planks"=true
    B:"naturesaura:infused_brick"=true
    B:"roots:runestone_brick"=true
    B:"roots:wildwood_planks"=true
    B:"thaumcraft:plank_greatwood"=true
    B:"thaumcraft:plank_silverwood"=true
    B:"totemic:cedar_plank"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


